
body{
  color: red;
  background-color: rgba(12, 12, 241, 0.705);
  padding: auto 20px auto 20px;
  background-image: url(images/photo_2023-05-14_17-47-53.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
 
}
#container{
  color: white;
  background-color: pink;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-image: url(images/photo_2023-05-14_17-47-53.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 2px 2px rgba(255, 192, 203, 0.288);
}
#contain{
  height: auto;
  width: auto;
  background-color: rgba(12, 12, 241, 0.212);
  padding: 10px;
  text-align: center;
  max-width: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgba(255, 192, 203, 0.288);
}
#btn{
  margin: 30px;
  height: 40px;
  width: 200px;
  padding: auto;
  border-radius: 20px;
  border: none;
  color: red;
  font-size: 20px;
  font-weight: bold;
  background-color:pink ;
}
#btn:hover{
  background-color:rgba(12, 12, 241, 0.705) ;
  color: white;
}


/* media Q'S */

@media (max-width:600px) {
  #container{
  margin-top: 10%;

  }
}
/* QS end */