 body{
background-color: pink;
color: red;
text-align: center;
padding: 10px;
padding-top: 50px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-family: 'Mulish', sans-serif;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 3rem;
}
h2,h4{
  font-family: 'Dancing Script', cursive;
  font-family: 'Mulish', sans-serif;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 2rem;
}
.con{
  padding-top: 100px;
}

.btn{
  margin: 30px;
  height: 40px;
  width: 200px;
  padding: auto;
  border-radius: 20px;
  border: none;
  color: red;
  font-size: 20px;
  font-weight: bold;
  background-color:pink ;
  box-shadow: 1px 1px 1px 1px;
}
.btn:hover{
  background-color:red ;
  color: white;
}
.img1{
  height: 400px;
  width: 100%;
}
