body{
    margin: 0%;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    background-image: linear-gradient(pink,white);
    font-family: 'Caveat', cursive;
}
       
.container-fluid{
    margin-bottom: 20px;
}
h1{
    font-family: 'Caveat', cursive;
    font-weight: bold;}
.two{
    padding-top: 80px;
}
.btn{
    color: red;
    background-color: pink;
    box-shadow: 2px 0.5px 1px 2px pink;
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (max-width:900px) {
   .two{
    padding-top: 30px;
   }
   
}